<div class="mb-2" id="comment-<%= comment.id %>">
  <% if comment.user == current_user %>
    <%= link_to '', comment_path(comment), method: :delete, remote: true, class: 'core-sprite delete-comment' %>
  <% end %>
  <span>
    <strong><%= comment.user.name %></strong>
  </span>
  <span><%= comment.content%></span>
</div>